@model System.Collections.Generic.IEnumerable<projekt.Models.Company>

@{
    ViewData["Title"] = "List of Companies";
}


<div class="item-list company-list">

        <table class="table">
            <thead>
            <tr class="text-center">
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Address)</th>
                <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-edit" asp-controller="Company" asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                        <a class="btn btn-details" asp-controller="Company" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                        <a class="btn btn-delete" asp-controller="Company" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="text-white">
            <a asp-controller="Company" asp-action="Create" class="btn btn-add">
                <i class="bi bi-plus-circle"></i> Add New
            </a>
        </div>
</div>