@model projekt.Models.Furniture

@{
    ViewData["Title"] = "Furniture details";
}

<div class="col-md-4 col-xs-6 border-primary mb-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-header text-white bg-info">
                    <p class="card-text">
                        <h5 class="card-title">
                            @Model.Name
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="text-white float-right" asp-action="Update" asp-route-id="@Model.Id">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            }
                        </h5>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="@Model.ImageURL" width="100%" alt="@Model.Name">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <p class="card-text">@Model.Name</p>
                    <p class="card-text"><b>Creator: </b>@Model.Creator.FirstName  @Model.Creator.SecondName</p>
                    <p class="card-text">
                        <b>Creator bio: </b>@Model.Creator.Bio
                    </p>
                    <p class="card-text">
                        <b>Company: </b>@Model.Company.Name
                    </p>
                    <p class="card-text">
                        <b>Company address: </b>@Model.Company.Address
                    </p>
                    <p class="card-text">
                        <b>Company phone number: </b>@Model.Company.PhoneNumber
                    </p>
                    <p class="card-text">
                        <b>Category: </b>@Model.Category.Name
                    </p>
                    <p class="card-text">
                        <b>Production Date: </b>@Model.ProductionDate.ToString("dd MMM yy")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>