@model projekt.Models.Furniture

@{
    ViewData["Title"] = "Furniture details";
}

<div class="card-container">
    <div class="card-wrapper">
        <div class="card card-details" >
                <div class="card-header text-black">
                    <p class="card-text">
                        <h5 class="card-title">
                            @Model.Name
                           
                        </h5>
                    </p>
                </div>
            <div class="card-img">
                <img src="@Model.ImageURL" alt="@Model.Name">
            </div>
            <div>
                <div class="card-body">
                    <p class="card-text"><b>Creator: </b><br/>@Model.Creator.FirstName  @Model.Creator.SecondName</p>
                    <p class="card-text">
                        <b>Creator bio: </b><br/>@Model.Creator.Bio
                    </p>
                    <p class="card-text">
                        <b>Company: </b><br/>@Model.Company.Name
                    </p>
                    <p class="card-text">
                        <b>Company address: </b><br/>@Model.Company.Address
                    </p>
                    <p class="card-text">
                        <b>Company phone number: </b><br/>@Model.Company.PhoneNumber
                    </p>
                    <p class="card-text">
                        <b>Category: </b><br/>@Model.Category.Name
                    </p>
                    <p class="card-text">
                        <b>Production Date: </b><br/>@Model.ProductionDate.ToString("dd MMM yy")
                    </p>
                </div>
            </div>
             <div class="card-footer ">
                            <p class="card-text">
             @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="btn btn-update" asp-action="Update" asp-route-id="@Model.Id">
                                    <i class="bi bi-pencil-square"></i>Update
                                </a>
                            }
                </p>
              </div>
        </div>
    </div>
</div>

<a class="btn btn-go-back" href="/">
    Go back
</a>